package label

templ Buttons() {
	<div class="buttons">
		{ children...}
	</div>

	<style>
		.buttons {
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: right;
			gap: 7px;
		}
	</style>
}

templ LabelCreation(title string) {
	<div class="sized-content">
		<h2>{ title }</h2>
		<hr/>
		{ children... }
	</div>
}
